*{
    text-decoration: none;
    list-style : none;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bolder;
}
.navbar-brand {
    display: flex;
    padding : 2.5rem;
    justify-content: space-between;
    align-items: center;
}
.list-links {
    display: flex;
    gap: 2.5rem;
    cursor: pointer;
}
.btn-1{
    background-color: #D01C28;
    color: white;
    border: 2px solid white;
    border-radius: 0.5rem;
    height : 3rem;
    width : 6rem ; 
    opacity: 1;
}
.btn-1:hover{
    opacity: 0.8;
    transform:scale(1.1);
}
li:hover{
    transform:scale(1.1);
}